.type-632 .btn-success {
    color: #fff;
    background-color: #5ac05d;
    border-color: #4cae4c;
}
.type-632 .pull-right {
    float: right !important;
}
.type-632 .btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
    font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}
.type-632 .table-border {
	padding-left: 0;
	padding-right: 0;
}
.type-632 .container {
	padding-left: 0;
	padding-right: 0;
}
.type-632 .btn-primary {
	background-color: #438ac8;
	color: #fff;
}
.type-632
    
  
  
  
  
  
  
  
  
  
  
  
  
  
  
